/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  height: 100%;
}

body {
  background-color: #283b4c;
  height: 100%;
}

* {
  box-sizing: border-box;
}

.container {
  background: #537185;
  height: 2000px;
  left: 0;
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 100%;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
}

.shiftContainer {
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
  left: 270px;
  position: fixed;
}

p {
  color: #fff;
  font-family: arial;
  text-align: center;
}

i {
  color: #fff;
  margin: 0 auto;
  padding: 15px 0;
}

.heroImage {
  background: url(../images/small.jpg) no-repeat 0 0;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  height: 320px;
  width: 100%;
}
.heroImage img {
  display: block;
  margin: 0 auto;
  padding-top: 20px;
}
.heroImage .icon {
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  color: rgba(255, 255, 255, 0.7);
  font-size: 170px;
  margin: 0 auto;
  position: relative;
  top: 20%;
  width: 173px;
}

#nav-toggle {
  background: -moz-radial-gradient(center, ellipse cover, rgba(102, 102, 102, 0.5) 0%, rgba(0, 0, 0, 0.5) 73%, rgba(0, 0, 0, 0.5) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(102, 102, 102, 0.5)), color-stop(73%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0.5)));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, rgba(102, 102, 102, 0.5) 0%, rgba(0, 0, 0, 0.5) 73%, rgba(0, 0, 0, 0.5) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, rgba(102, 102, 102, 0.5) 0%, rgba(0, 0, 0, 0.5) 73%, rgba(0, 0, 0, 0.5) 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, rgba(102, 102, 102, 0.5) 0%, rgba(0, 0, 0, 0.5) 73%, rgba(0, 0, 0, 0.5) 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, rgba(102, 102, 102, 0.75) 0%, rgba(0, 0, 0, 0.75) 73%, #000000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80666666', endColorstr='#80000000',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  border-radius: 50%;
  height: 170px;
  display: block;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
  width: 150px;
  z-index: 0;
}

.position {
  left: 160px !important;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
}

#nav-toggle {
  cursor: pointer;
  padding: 23px 43px 25px 7px;
}

#nav-toggle span {
  top: 50%;
  right: 10px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 25px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}

#nav-toggle span:before {
  top: -8px;
}

#nav-toggle span:after {
  bottom: -8px;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
  transition: all 500ms ease-in-out;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  left: -2px;
  top: -8px;
  width: 22px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-toggle.active span:after {
  left: -2px;
  top: 6px;
  width: 22px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.mobileMenu {
  background-color: #283b4c;
  display: block;
  height: 100%;
  left: -270px;
  position: absolute;
  top: 0;
  width: 270px;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
  z-index: 9999;
}

.shiftMenu {
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
  left: 0 !important;
}

h1 {
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Questrial', sans-serif;
  font-size: 30px;
  margin: 30px 0 0;
  text-align: center;
}

h3 {
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Questrial', sans-serif;
  font-size: 20px;
  margin: 10px 0 0;
  text-align: center;
}

h4 {
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Questrial', sans-serif;
  font-size: 18px;
  margin: 10px 0 0;
  text-align: center;
}

@font-face {
  font-family: "logo";
  src: url("../fonts/logo.eot");
  src: url("../fonts/logo.eot?#iefix") format("embedded-opentype"), url("../fonts/logo.woff") format("woff"), url("../fonts/logo.ttf") format("truetype"), url("../fonts/logo.svg#logo") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "logo" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "logo" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
  content: "a";
}

@media (min-width: 768px) {
  #nav-toggle {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .heroImage {
    background: url(../images/med.jpg) no-repeat 0 -80px;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    height: 400px;
  }

  .icon {
    top: 10%;
  }
}
@media (min-width: 1025px) {
  .heroImage {
    background: url(../images/desktop.png) no-repeat 0 -500px;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    height: 400px;
  }
}
