html{
	height: 100%;
}

body{
	height: 100%;
	margin:0;
}

*{
	box-sizing:border-box;
}
.section1{
	background:#7a7c77 url(../images/canals.jpg)no-repeat center bottom;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;

	// height:1000px;
	padding-top:40px;
	position:relative;
	// width:100%;
}

.section2{
	background:#bcbbb1 url(../images/louvre.jpg)no-repeat center bottom;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;

	height:1000px;
	width:100%;
}

.section3{
	background:#8f9091 url(../images/luxembourg.jpg)no-repeat center bottom;
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;

	height:1000px;
	width:100%;
}