h1.noah{
	color:#e3e9d9;
	display:inline;
	font-family: 'sofia_prolight';
	font-size:50px;
	font-weight:100;
	position:absolute;
	text-align:center;
}
h1.glushien{
	color:#e3e9d9;
	display:inline;
	font-family: 'sofia_prolight';
	font-size:50px;
	font-weight:100;
	margin-left:310px;
	position:absolute;
	text-align:center;
}
.hidden{
	opacity:0;
}
.visible{
	opacity:1;
}
.intro{
	color:#e3e9d9;
	display:block;
	font-family: 'sofia_prolight';
	font-size:30px;
	font-weight:100;
	margin:30px auto 0;
	text-align:center;
	width:70%; 
}
#design{
	i{
		color: #575746;
		display: block;
		font-size: 60px;
		margin: 0 auto;
		width: 65px;
	}
}
.designCopy{
	color:#575746;
	display:block;
	font-family: 'sofia_prolight';
	font-size:30px;
	font-weight:100;
	margin:30px auto 0;
	text-align:center;
	width:70%;
}
#dev{
	i{
		color: #cce8e8;
		display: block;
		font-size: 80px;
		margin: 0 auto;
		width: 65px;
	}
}
.devCopy{
	color:#cce8e8;
	display:block;
	font-family: 'sofia_prolight';
	font-size:30px;
	font-weight:100;
	margin:30px auto 0;
	text-align:center;
	width:70%;
}