.heroImage{
	background:url(../images/small.jpg)no-repeat 0 0;
	-webkit-background-size: 100%;
  	-moz-background-size: 100%;
  	-o-background-size: 100%;
  	background-size: 100%;
	height:320px;
	width:100%;

	img{
		display: block;
		margin:0 auto;
		padding-top: 20px;
	}

	.icon{
		border-bottom: 1px solid rgba(255,255,255, .7);
		color: rgba(255,255,255, .7);
		font-size: 170px;
		margin: 0 auto;
		position: relative;
		top: 20%;
		width: 173px;
	}
}