h1{
	color: #fff;
	font-family:helvetica,arial;
	font-size:30px;
	text-align:center;
}

.callout{
	background:url(../images/corner.png) no-repeat 0 bottom;
	margin-left:-10px;
	padding-bottom:10px;
	width: 60px;

	.calloutContainer{
		background:#ccc;
		height: 200px;
	}
}

.section{
	background:#d1d1d1;
	border-bottom:2px solid #333;
	height: 500px;
	margin:0;
	padding:5px 0;
	width:100%;

	.innerSection{
		border-bottom:1px dashed #d1d1d1;
		border-top:1px dashed #d1d1d1;
		height:196px;
		padding:20px 0;
	}
}
.section:nth-child(2n+1){
	background:#ccc;
}