.navigationContainer{
	background:rgba(49,49,49,.6);
	height:auto;
	position:fixed;
	top:45px;
	width:130px;
	z-index:2;

	a{
		color:#fff;
		display: block;
		font-family: 'sofia_prolight';
		padding:10px 0; 
		position:relative;
		text-align: center;
		text-decoration: none;

		&:hover{
			cursor:pointer;
		}

		i{
			display: block;
			font-size: 40px;
		}
		span{
			display: block;
			font-size: 14px;
			margin: 0 auto;
		}

	}

	.active{
		color:#d7b633;
	}
}