.navigationContainer{
	background:rgba(49,49,49,.6);
	height:auto;
	position:fixed;
	top:45px;
	width:60px;
	z-index:2;

	a{
		color:#fff;
		display: block;
		font-family: 'sofia_prolight';
		padding:10px 0; 
		position:relative;
		text-align: center;
		text-decoration: none;

		&:hover{
			cursor:pointer;
		}

		i{
			display: block;
			font-size: 30px;
		}
		span{
			display: none;
		}

	}

	.active{
		color:#d7b633;
	}
}
@media (min-width:1000px){
	.navigationContainer{
		width: 130px;
		a{
			i{
				display: block;
				font-size: 40px;
			}
			span{
				display: block;
				font-size: 14px;
				margin: 0 auto;
			}
		}
	}	
}
