!!!5
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport",content="width=device-width")
		title Noah Glushien
		link(rel="stylesheet",href="css/style.css",type="text/css",media="screen")
		link(href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css",rel="stylesheet")
		script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js")
		script(src="javascript/script.js")
	body
		.container
			h1 NG
			i.fa.fa-desktop
			p.experience
			.section
			.section
			.section
			footer
