.navigationContainer
	a.home(href="#top") 
		i.fa.fa-home 
		span Home
	a.design(href="#design")
		i.fa.fa-picture-o 
		span Design
	a.dev(href="#dev") 
		i.fa.fa-code
		span Development
	a.ux(href="") 
		img(src="images/ux-icon.png")
		span User Experience
	a.info(href="") 
		i.fa.fa-info-circle
		span Information
	a.contact(href="") 
		i.fa.fa-envelope
		span Contact