ul.bxslider
	li
		a(href="http://www.google.com",target="_blank")
			img(src="images/slide1-320.jpg", data-phone="images/slide1-320.jpg",data-tablet="images/slide1-640.jpg",data-laptop="images/slide1-960.jpg", data-desktop="images/slide1-1280.jpg", class="resp")
	li
		a(href="http://www.techtarget.com",target="_blank")
			img(src="images/slide1-320.jpg", data-phone="images/slide1-320.jpg",data-tablet="images/slide1-640.jpg",data-laptop="images/slide1-960.jpg", data-desktop="images/slide1-1280.jpg", class="resp")